.ractive-window {
  position: absolute;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 10px;
  border-radius: 5px;
  background-color: white;
  padding: -1px;
}

.ractive-window.resizable {
  min-width: 10em;
  min-height: 2em;
}

.ractive-window > .rw-interior {
  cursor: default;
}
.ractive-window.fixed > .rw-interior {
  margin: 5px;
}
.ractive-window.resizable > .rw-interior {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  cursor: default;
}

.rw-interior > .rw-title {
  font-weight: bold;
}

.ractive-window.fixed .rw-interior > .rw-body {
  margin: 0.1em;
  clear: both;
}
.ractive-window.resizable .rw-interior > .rw-body {
  position: absolute;
  top: 2em;
  bottom: 0.1em;
  left: 0.1em;
  right: 0.1em;
  overflow: auto;
}

.ractive-window.resizable.with-buttons .rw-body {
  bottom: 2.7em;
}

.rw-buttons > button.right {
  float: right;
}

.rw-buttons > button.left {
  float: left;
}

.rw-interior > .rw-buttons {
  text-align: center;
  padding-top: 0.1em;
}
.ractive-window.fixed .rw-interior > .rw-buttons::after {
  display: block;
  content: ' ';
  clear: both;
}
.ractive-window.fixed .rw-interior > .rw-buttons {
  padding: 0.2em;
}
.ractive-window.resizable .rw-interior > .rw-buttons {
  position: absolute;
  bottom: 0.1em;
  height: 2.5em;
  left: 0.1em;
  right: 0.1em;
}

.rw-interior > .rw-controls {
  float: right;
}

.ractive-window.fixed .rw-interior > .rw-resize-handle {
  display: none;
}

.ractive-window.resizable .rw-interior > .rw-resize-handle {
  display: block;
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 1px;
  height: 1px;
  cursor: se-resize;
  border-top: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #bbb;
  border-right: 7px solid #bbb;
  border-bottom-right-radius: 5px;
  color: transparent;
}

.ractive-window > .rw-modal {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  z-index: 10;
}

.ractive-window-host-modal {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

.ractive-window .rw-controls button {
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  padding: 1px;
  margin: 0px 2px;
  width: 1.4em;
  height: 1.4em;
  font-size: 0.9em;
}
