.ractive-window {
  position: absolute;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  background-color: #f3f3f3;
  padding: -1px;
  box-sizing: border-box;
  transition: box-shadow 0.5s ease, background-color 0.5s ease;
  color: #222;
}

.ractive-window.topmost {
  background-color: #fff;
  box-shadow: 0px 0px 4px rgba(0, 120, 231, 0.7);
}

.ractive-window.resizable {
  min-width: 10em;
  min-height: 2em;
}

.ractive-window > .rw-interior {
  cursor: default;
}

.ractive-window.maximized {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}
.ractive-window.fixed.maximized > .rw-interior .rw-buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.25em;
}
.ractive-window.fixed.maximized > .rw-interior {
  margin-bottom: 3em;
}

.ractive-window.maximized > .rw-interior {
  margin: 2px;
}

.ractive-window.fixed > .rw-interior {
  margin: 5px;
}
.ractive-window.resizable > .rw-interior {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  cursor: default;
}

.rw-interior > .rw-title {
  margin: -5px;
  padding: 5px;
  font-weight: bold;
}
.ractive-window.resizable > .rw-interior > .rw-title {
  white-space: nowrap;
}
.ractive-window.maximized .rw-title {
  border-radius: 0;
  margin: -7px;
}

.ractive-window.fixed .rw-interior > .rw-body {
  margin: 0.5em 0.1em 0.1em 0.1em;
  clear: both;
}
.ractive-window.resizable .rw-interior > .rw-body {
  position: absolute;
  margin: 0px;
  top: 2em;
  bottom: 0.1em;
  left: 0.1em;
  right: 0.1em;
  overflow: auto;
}

.ractive-window.resizable.with-buttons .rw-body {
  bottom: 2.7em;
}

.rw-buttons > button.right {
  float: right;
}

.rw-buttons > button.left {
  float: left;
}

.rw-interior > .rw-buttons {
  text-align: center;
  padding-top: 0.1em;
}
.ractive-window.fixed .rw-interior > .rw-buttons::after {
  display: block;
  content: ' ';
  clear: both;
}
.ractive-window.fixed .rw-interior > .rw-buttons {
  padding: 0.2em;
}
.ractive-window.resizable .rw-interior > .rw-buttons {
  position: absolute;
  bottom: 0.1em;
  left: 0.1em;
  right: 0.1em;
}

.ractive-window.fixed > .rw-interior > .rw-controls {
  top: 3px;
}
.rw-interior > .rw-controls {
  position: relative;
  right: 0px;
  top: -2px;
  float: right;
}

.ractive-window.fixed .rw-interior > .rw-resize-handle,
.ractive-window.resizable.maximized .rw-interior > .rw-resize-handle {
  display: none;
}

.ractive-window.resizable .rw-interior > .rw-resize-handle:hover {
  border-bottom-color: #bbb;
  border-right-color: #bbb;
}
.ractive-window.resizable .rw-interior > .rw-resize-handle {
  display: block;
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 1px;
  height: 1px;
  cursor: se-resize;
  border-top: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #eee;
  border-right: 7px solid #eee;
  color: transparent;
  transition: border-color 0.3s ease;
}

.ractive-window > .rw-modal {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.ractive-window-host-modal {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

.ractive-window .rw-controls button:hover {
  box-shadow: 0px 0px 2px rgba(0, 120, 231, 0.7);
}
.ractive-window .rw-controls button {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  background-color: #f4f4f4;
  transition: box-shadow 0.5s ease;
  padding: 1px;
  margin: 0px 2px;
  width: 1.4em;
  height: 1.4em;
  font-size: 0.9em;
}
